* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-color: whitesmoke;
}
h1 {
    font-size: 5rem;
}

.center-text {
    display: block;
    text-align: center;
}

.vega-embed .chart-wrapper {
    width: fit-content;
}